<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @stock.product_name %>
</p>

<p>
  <strong>Limit date:</strong>
  <%= @stock.limit_date %>
</p>

<p>
  <strong>Stock zone:</strong>
  <%= @stock.stock_zone %>
</p>

<p>
  <strong>Count:</strong>
  <%= @stock.count %>
</p>

<p>
  <strong>Category:</strong>
  <%= @stock.category %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
